<div class="w-full max-w-3xl mx-auto mt-20 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
    <div class="text-center mb-3">
        <h3 class="text-2xl" >Add Photos</h3>
    </div>
    <div class="grid grid-cols-12" *ngIf="productService.product">
        <div class="col-span-2" *ngFor="let photo of productService.product.photos">
            <img src="{{photo.url}}" alt="photo user" class="img-thumbnail mb-1">
            <div class="text-center">
                <button 
                    type="button" 
                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                    (click)="deletePhoto(photo)"
                    > 
                Delete 
                </button>
            </div>
        </div>
    </div>
    <div class=" grid grid-cols-12">
        
        <div class="col-span-5 mr-4 ">
            <div ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader"
                class="card bg-gray-200 p-3 text-center mb-3 my-drop-zone mt-3">
                Drop photos here
            </div>
            
            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

            Single
            <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="col-span-7" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader?.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader?.options?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress: {{uploader?.progress}}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader?.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-2"
                        (click)="uploader?.uploadAll()" [disabled]="!uploader?.getNotUploadedItems()?.length">
                    <span class="fa fa-upload"></span> Upload all
                </button>
                <button type="button" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mx-2"
                        (click)="uploader?.cancelAll()" [disabled]="!uploader?.isUploading">
                    <span class="fa fa-ban"></span> Cancel all
                </button>
                <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2"
                        (click)="uploader?.clearQueue()" [disabled]="!uploader?.queue?.length">
                    <span class="fa fa-trash"></span> Remove all
                </button>
            </div>

        </div>
        
    </div>
    <div class="mt-5 content-center">
        <div class="w-fit mx-auto">
            <button
            class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-blue-500 hover:bg-blue-700"
            type="button"
            [routerLink]="'/product-detail/'+ProductId"
            >
            Complete
            </button>
        </div>
        
    </div>
    

</div>
